.container {
  background-color: #040414;
  border-radius: 10px;
  width: 80%;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 40px 10px;
  border: 3px solid #0c5f5e;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  background-color: #c9eee9;
}
